<body>
<div class="container center">
    <h3 class="center">Welcome to Trail Collector</h3>

<div class="container center">
    <div class="center"> 
        <a href="/login">
        <button class="waves-effect waves-light btn-large z-depth-5" type="submit" name="action">
            Log In
        </button></a>
        <br>
        <br>
        <a href="/signup">
        <button class="waves-effect waves-light btn-large z-depth-5" type="submit" name="action">
            Sign Up
        </button></a>
        <br>
        <br>
        <a href='/trails'>
        <button class="waves-effect waves-light btn-large z-depth-5" type="submit" name="action">
            View Trails
        </button></a>
    </div>
</div>
</body>
        

