<body id="main_body" >
	<div class="container">
		<h2>User Login</h2>
		<p>	Please log in using your email and password. <br>
			If you you don't have an account yet, please <a href="/signup" class="grey-text">Sign Up</a>.</p>
		
		<form method="post" action="/login" class="">
		<ul>
			<li id="li_1" >
			<div class="input-field">
				<input id="email" name="email" class="transparent" type="text" required /> 
				<label for="email">Email</label>
			</div>
			<li id="li_2">
			</li>
			<div class="input-field">
				<input id="password" name="password" class="transparent" type="password" required /> 
				<label for="email">Password</label>
			</div>
			<li id="li_3">
			</li>
			<button class="btn waves-effect waves-light" type="submit" name="action">Log In
    			<i class="material-icons right">send</i>
  			</button>    			    
			</li>
		</form>	
		</div>
	</div>

</body>
