<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div class="container">
	
		
		<form class='' method="post" action="/login">
					<div class="form_description">
			<h2>User Login</h2>
			<p>	Please log in using your email and password. <br>
					If you you don't have an account yet, please <a href="/signup">Sign Up</a>.</p>
		</div>						
								
		<div class="input-field">
			<label for="email">Email </label>
			
			<input id="email" name="email" required type="text" value=""/> 
		</div>
			<p class="guidelines" id="guide_1"><small>Please enter your email address. </small></p> 
			
		<div class="input-field">
			<label class="description" for="password">Password </label>
			<input id="password" name="password" required type="password" value=""/> 
		</div>
			<p class="guidelines" id="guide_2"><small>Please enter your password.</small></p> 
		
		<button class="btn waves-effect waves-light" type="submit" name="action">Log In
    		<i class="material-icons right">send</i>
  		</button>    			    

		</form>	
	</div>
		
</body>
