<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		
		<form id="form_57980" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>User Login</h2>
			<p>Please log in using your email and password. </p>
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Email </label>
		<div>
			<input id="element_1" name="element_1" class="element text medium" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_1"><small>Please enter a valid email address. </small></p> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Password </label>
		<div>
			<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_2"><small>Please enter your password.</small></p> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="57980" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
	</div>
	<img id="bottom" src="bottom.png" alt="">
</body>
