<body id="main-body">
<div class="container">
		<form class='' method="post" action="/users">
			    <h2>User Sign Up</h2>
			<p>Please provide your first name, a valid email, and a password. </p>						
			<ul >
            <li id="li_1" >
				<div class="input-field">	
		        	<label style="color: #EDE7E7;" for="name">Name </label>
			    	<input id="name" name="name" type="text" value="" required/> 
		        </div><p class="guidelines" style="color: #EDE7E7;" id="guide_1"><small>Please enter your first and last name.</small></p> 
            </li>
			<br>
			<li id="li_2" >
		        <div class="input-field">
					<label style="color: #EDE7E7;" for="email">Email </label>
			        <input id="email" name="email" type="text" value=""required/> 
		        </div><p class="guidelines" style="color: #EDE7E7;" id="guide_1"><small>Please enter your email address.</small></p> 
            </li>		
			<br>
            <li id="li_3" >
		        <div class="input-field">
					<label style="color: #EDE7E7;" for="password">Password </label>
			        <input id="password" name="password"  type="password" value="" required/> 
		        </div><p class="guidelines" style="color: #EDE7E7;" id="guide_2"><small>Please enter your password.</small></p> 
		    </li>
			<button class="btn waves-effect waves-light" type="submit">Sign Up
  			</button>
			</ul>
		</form>	
	</div>
</body>

	

