<h4>Welcome <%=current_user.name%>!</h4>
<br>
<ol>
    <%current_user.trails.each do |trail|%>
        <li><%= trail.name%>
        <%= trail.description%></li>
    <%end%>
</ol>
<br>
<form method="post" action="/signout">
<input id="logoutForm" type="submit" value="Log Out" />
</form>
