<div class="container">
    <h4>Welcome <%=current_user.name%>!</h4>
    <br>
    <ol>
        <%current_user.trails.each do |trail|%>
            <li><%= trail.name%>
            <%= trail.description%></li>
        <%end%>
    </ol>
    <br>
    <form method="post" action="/signout">
        <button class="waves-effect waves-light btn" type="submit" name="action">
        Sign Out
        </button>
    </form>
</div>