<div class="container">

    <h4>Successfully signed out.</h4>
    
    <p>Thanks for hanging out, please come back soon.</p>
    <br>
    <p>If you would like to log back in, you can do so <br>
    <a href="/login">Here</a>.</p>

</div>