<div class="container">
		
	<form method="post" action="/trails/<%=@trail.id%>">
	<input type="hidden" name="_method" value="patch"/>
			
		<p>You can edit the name and description of this trail.</p>
	    
	        <label class="description" for="name">Trail Name</label>
		    <input name="name" type="text" value="<%=@trail.name%>"/>  
        
	        <label for="textarea1">Trail Description</label>
		    <input name="description" type="text" value="<%=@trail.description%>"/>
		
		<button class="btn waves-effect waves-light" type="submit">Update Trail
  		</button>
		
	</form>	
</div
	